[submodule "python"]
	path = python
	url = https://gist.github.com/nyanters/436b0ed447c11c42fa610c0acd9bc634
[submodule "shell"]
	path = shell
	url = https://gist.github.com/nyanters/fac5d9090b06271249b3b5af45374e47
